<div  class="container1">
<div class="row  about1">
<div class="sss">

<h1>Welcome To CD<sup>asia</sup>U</h1>
<div class="quality">Student!</div>

<h3>Get all the advantages</h3>
<p>To Become a Professional</p>

<a><%= link_to "Enroll Now", new_student_path, class: "btn btn-primary" %></a>

</div>

<div class="sss pic3">
<img src="/assets/6-2.jpg" height="500px">

</div>
</div>
</div>

        