<h3>Subjects</h3>


<table>
  <thead>
    <tr>
      <th>Subject Code</th>
      <th>Subjec Decription</th>
      <th>Time</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
      <tr>
        <td>  <span class="label-form" >MATH101</span><br>
         <span class="label-form" >SCIE101</span><br>
         <span class="label-form" >FIL101</span><br>
         <span class="label-form" >ENG101</span><br>
         <span class="label-form" >ITC</span><br></td>
        <td> <span class="label-form" >MATHEMATICS</span><br>
         <span class="label-form" >SCIENCE</span><br>
         <span class="label-form" >FILIFINO</span><br>
         <span class="label-form" >COMMUNICATION</span><br>
         <span class="label-form" >COMPUTER PROGRAM</span><br></td>
         <td> <span class="label-form" >08:00-09:30AM</span><br>
         <span class="label-form" >10:30-12:0NN</span><br>
         <span class="label-form" >01:30-03:30PM</span><br>
         <span class="label-form" >9:30-12:00PM</span><br>
         <span class="label-form" >02:00-03:30PM</span><br></td>
        <td> <span class="label-form" >MWF</span><br>
         <span class="label-form" >MWF</span><br>
         <span class="label-form" >MWF</span><br>
         <span class="label-form" >TTHS</span><br>
         <span class="label-form" >TTHS</span><br>
</td>



    </tr>



    <!-- 

<script src="https://code.jquery.com/jquery- 1.12.4.min.js"></script>
<script type="text/javascript">
$('document').ready(function(){
    $('select').change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".box").not("."+ optionValue).hide();
                $("."+optionValue).show();

            }else{
                $('.box').hide();
            }
        });
    }).change();
});

</script>

</head>
<style type="text/css">
    
.box{
    color: black;
    padding: 20px;
    display: none;
    margin-top: 20px;

}

/*.sec1{background: #ff0000;}
.blue{background: #0000ff;}
.green{background: #228B22;}*/
</style> -->


<!--         <div class="section">
            <select>
              <option value="">choose section</option>
              <option value="sec1">SECTION 1</option>
              <option value="blue">SECTION 2</option>
              <option value="green">SECTION 3</option>
            </select>
        </div>

        <div class="sec1 box">
            <table align="center" border="1px" width="50%">
                <h3 align="center">SECTION 1</h3>

                  <thead>
                    <tr>
                      <th>Subject Code</th>
                      <th>Subjec Decription</th>
                      <th>Time</th>
                      <th>Time</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                        <td> 
                         <span>MATH101</span><br>
                         <span>SCIE101</span><br>
                         <span>FIL101</span><br>
                         <span>ENG101</span><br>
                         <span>ITC</span><br></td>
                        <td> 
                         <span>MATHEMATICS</span><br>
                         <span>SCIENCE</span><br>
                         <span>FILIFINO</span><br>
                         <span>COMMUNICATION</span><br>
                         <span>COMPUTER PROGRAM</span><br></td>
                         <td> 
                         <span>08:00-09:30AM</span><br>
                         <span>10:30-12:0NN</span><br>
                         <span>01:30-03:30PM</span><br>
                         <span>9:30-12:00PM</span><br>
                         <span>02:00-03:30PM</span><br></td>
                        <td> 
                         <span>MWF</span><br>
                         <span>MWF</span><br>
                         <span>MWF</span><br>
                         <span>TTHS</span><br>
                         <span>TTHS</span><br>
                        </td>
                     </tr>
                 </tbody>
            </table>
        </div>
    <div class="blue box">
        <table align="center" border="1px" width="50%">
          <h3 align="center">SECTION 2</h3>

          <thead>
            <tr>
              <th>Subject Code</th>
              <th>Subjec Decription</th>
              <th>Time</th>
              <th>Time</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <tr>
                <td> 
                 <span>MATH101</span><br>
                 <span>SCIE101</span><br>
                 <span>FIL101</span><br>
                 <span>ENG101</span><br>
                 <span>ITC</span><br></td>
                <td> 
                 <span>MATHEMATICS</span><br>
                 <span>SCIENCE</span><br>
                 <span>FILIFINO</span><br>
                 <span>COMMUNICATION</span><br>
                 <span>COMPUTER PROGRAM</span><br></td>
                 <td> 
                 <span>08:00-09:30AM</span><br>
                 <span>10:30-12:0NN</span><br>
                 <span>01:30-03:30PM</span><br>
                 <span>9:30-12:00PM</span><br>
                 <span>02:00-03:30PM</span><br></td>
                <td> 
                 <span>MWF</span><br>
                 <span>MWF</span><br>
                 <span>MWF</span><br>
                 <span>TTHS</span><br>
                 <span>TTHS</span><br>
                </td>
             </tr>
         </tbody>
        </table>
    </div>
        <div class="green box">
            <table align="center" border="1px" width="50%">
                <h3 align="center">SECTION 3</h3>

                  <thead>
                    <tr>
                      <th>Subject Code</th>
                      <th>Subjec Decription</th>
                      <th>Time</th>
                      <th>Time</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                        <td> 
                         <span>MATH101</span><br>
                         <span>SCIE101</span><br>
                         <span>FIL101</span><br>
                         <span>ENG101</span><br>
                         <span>ITC</span><br></td>
                        <td> 
                         <span>MATHEMATICS</span><br>
                         <span>SCIENCE</span><br>
                         <span>FILIFINO</span><br>
                         <span>COMMUNICATION</span><br>
                         <span>COMPUTER PROGRAM</span><br></td>
                         <td> 
                         <span>08:00-09:30AM</span><br>
                         <span>10:30-12:0NN</span><br>
                         <span>01:30-03:30PM</span><br>
                         <span>9:30-12:00PM</span><br>
                         <span>02:00-03:30PM</span><br></td>
                        <td> 
                         <span>MWF</span><br>
                         <span>MWF</span><br>
                         <span>MWF</span><br>
                         <span>TTHS</span><br>
                         <span>TTHS</span><br>
                        </td>
                     </tr>
                 </tbody>
            </table>
</div>

 -->



<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="js/jquery-visibly.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
          <script>

            $('#sections').on('change', function(){

               if(this.value == "sec1"){
                    $('#bsit').show();
                    $('bsit2').hide();
               }else {
                    $('#bsit').hide();
                    $('bsit2').show();
               }
          });

          </script>
          <div class="section">
            <select id="sections">
              <option value="">choose section</option>
              <option value="sec1">Section 1</option>
              <option value="sec2">Section 2</option>
            </select>

            <div id="bsit" style="display: none;">sec1</div>
            <div id="bsit2" style="display: none;">sec2</div>
            <script src="//code.jquery.com/jquery-1.11.2.min.js">
              
            </script>

 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(".btn1").click(function(){
    $("table,h3").hide();
  });
  $(".btn2").click(function(){
    $("table, h3").show();
  });
});
</script>

<!-- 
 // $('#sections').on('change', function(){

 //               if(this.value == "sec1"){
 //                    $('#bsit').show();
 //                    $('#bsit2').hide();
 //               }else {
 //                    $('#bsit').hide();
 //                    $('#bsit2').show();
 //               }
 //          }); -->

<!-- 
            <div class="section">
            <select id="sections">
              <option value="">choose section</option>
              <option value="sec1">Section 1</option>
              <option value="sec2">Section 2</option>
            </select>

            <div id="bsit" style="display: none;">sec1</div>
            <div id="bsit2" style="display: none;">sec2</div>
          
<p>This is a paragraph.</p>

<button class="btn1">Hide</button>
<button class="btn2">Show</button>
 -->

<!-- <table align="center" border="1px" width="50%">
    <h3 style="'text-align: center;">Subjects</h3>

  <thead>
    <tr>
      <th>Subject Code</th>
      <th>Subjec Decription</th>
      <th>Time</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
        <td> 
         <span>MATH101</span><br>
         <span>SCIE101</span><br>
         <span>FIL101</span><br>
         <span>ENG101</span><br>
         <span>ITC</span><br></td>
        <td> 
         <span>MATHEMATICS</span><br>
         <span>SCIENCE</span><br>
         <span>FILIFINO</span><br>
         <span>COMMUNICATION</span><br>
         <span>COMPUTER PROGRAM</span><br></td>
         <td> 
         <span>08:00-09:30AM</span><br>
         <span>10:30-12:0NN</span><br>
         <span>01:30-03:30PM</span><br>
         <span>9:30-12:00PM</span><br>
         <span>02:00-03:30PM</span><br></td>
        <td> 
         <span>MWF</span><br>
         <span>MWF</span><br>
         <span>MWF</span><br>
         <span>TTHS</span><br>
         <span>TTHS</span><br>
        </td>
     </tr>

</body> -->